# ---------------------------- Mandatory ---------------------------
# API keys
EXA_API_KEY=
GEMINI_API_KEY=

# Database settings
DATABASE_URL=


# ----------------------------- Optional ---------------------------------
ADD_PSYCOPG_TO_URL=True
DATABASE_ECHO=False

# Can be changed between 1 and 10 without negative effect. Going beyond this is more expensive token-wise.
# As well as this, it acts as a MAXIMUM count. The API may return less if it cant find any more.
# Finally, gather_sources may return up to 2 * MAX_URL_COUNT, since it runs both an English and native prompt.
MAX_URL_COUNT=3

EXA_SEARCH_TYPE=deep
EDUCATION_PROFILES_OUTPUT_FOLDER=output
EDUCATION_PROFILES_TECH_URL_FILE=education_profiles_technology_urls.json
EDUCATION_PROFILES_FAILED_TECH_URL_FILE=failed_education_profiles_technology_urls.json
EDUCATION_PROFILES_CONTENT_URL_FILE=education_profiles_technology_content_urls.json

NATIVE_LANGUAGE_PROMPTS_FILE=gemini_prompts.json

# The current Exa API limit is 10 calls per second.
EXA_API_LIMIT=10
MAX_RETRIES=3